Repository ph33nx/lila-player: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: npm run format
  stage_fixed: true

lint:
  run: npm run lint -- --fix
  stage_fixed: true

fix: update branch name from main to master in publish workflow
  .github/workflows/publish.yml
Due: none

fix: update Ubuntu version in CI workflow
  .github/workflows/publish.yml
  README.md
Due: format

fix: update version to 0.2.0
  README.md
  package-lock.json
  package.json
  src-tauri/tauri.conf.json
Due: format

fix: add release asset name pattern to publish workflow
  .github/workflows/publish.yml
Due: none

fix: update version to 0.2.1 in package.json, package-lock.json, and tauri.conf.json; add installation FAQ to README
  README.md
  package-lock.json
  package.json
  src-tauri/tauri.conf.json
Due: format

fix: update version to 0.2.2 in package.json, package-lock.json, tauri.conf.json; add LICENSE file; modify asset name pattern in publish workflow; update installation FAQ in README
  .github/workflows/publish.yml
  LICENSE
  README.md
  package-lock.json
  package.json
  src-tauri/tauri.conf.json
Due: format

fix: update release asset name pattern in publish workflow
  .github/workflows/publish.yml
  package-lock.json
  package.json
  src-tauri/tauri.conf.json
Due: format

fix: downgrade tauri-action version to v0 in publish workflow
  .github/workflows/publish.yml
Due: none

fix: remove release asset name pattern from publish workflow
  .github/workflows/publish.yml
Due: none

fix: update release body in publish workflow to include additional file formats and platforms
  .github/workflows/publish.yml
Due: none

feat: add media session support for system media keys in audio processor
  AGENTS.md
  package-lock.json
  package.json
  src-tauri/tauri.conf.json
  src/hooks/use-audio-processor.ts
  src/hooks/use-media-session.ts
Due: format, lint

fix: audio issues on linux
  package-lock.json
  package.json
  src-tauri/tauri.conf.json
  src/hooks/use-audio-processor.ts
Due: format, lint

feat: implement Linux audio playback workaround using <audio> element
  README.md
  docs/linux-audio-fix.md
  src-tauri/Cargo.lock
  src-tauri/src/lib.rs
  src-tauri/tauri.conf.json
  src/app/globals.css
  src/hooks/use-audio-processor.ts
Due: format, lint

feat: add github pages deployment
  .github/workflows/deploy-pages.yml
  README.md
  next.config.ts
  public/.nojekyll
  src-tauri/Cargo.lock
  src-tauri/src/lib.rs
  src-tauri/tauri.conf.json
  src/app/globals.css
Due: format, lint

feat: implement base path utility for asset loading and update audio hooks
  next.config.ts
  src-tauri/src/lib.rs
  src/hooks/use-audio-processor.ts
  src/utils/base-path.ts
Due: format, lint

chore: add dependabot auto-merge workflow for patch and minor bumps, squash merge after CI passes
  .github/workflows/dependabot-auto-merge.yml
Due: none

chore: add dependabot auto-merge workflow for patch and minor bumps, squash merge after CI passes (#8)
  .github/workflows/dependabot-auto-merge.yml
Due: none

chore: update workflow branch refs from master to main following default branch rename
  .github/workflows/deploy-pages.yml
  .github/workflows/publish.yml
Due: none

chore: workflow branch refs master to main (#9)
  .github/workflows/deploy-pages.yml
  .github/workflows/publish.yml
Due: none

chore(deps): security and dependency maintenance, release v0.2.7
  AGENTS.md
  docs/dependencies.md
  package-lock.json
  package.json
  src-tauri/Cargo.lock
  src-tauri/tauri.conf.json
Due: format

chore(deps): override sharp ^0.35.3 for libvips CVEs, realign eslint-config-next to 15.5.21, release v0.2.8
  docs/dependencies.md
  package-lock.json
  package.json
  src-tauri/tauri.conf.json
Due: format

feat: new style ui, mp3 export, youtube import via cobalt api
  package-lock.json
  package.json
  src/app/page.tsx
  src/components/player-controls.tsx
  src/components/vinyl-disc.tsx
  src/components/youtube-import.tsx
  src/hooks/use-audio-processor.ts
  src/hooks/use-cobalt.ts
  src/utils/audio-utils.ts
Due: format, lint

fix(deps): bump postcss to 8.5.26 (GHSA-fxqj-rqcc-2cmp)
  package-lock.json
Due: format

ci: cut releases from v* tags only; drop the drifting size column from the README
  .github/workflows/publish.yml
  AGENTS.md
  README.md
  docs/release.md
Due: format

feat: breathing aura, web corner links, light palette tuned for contrast under the aura
  AGENTS.md
  README.md
  assets/screenshot-dark.png
  assets/screenshot-light.png
  docs/architecture.md
  docs/testing.md
  public/og.png
  scripts/screenshots.ts
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  src/components/audio-waveform.tsx
  src/components/aura.tsx
  src/components/corner-controls.test.tsx
  src/components/corner-controls.tsx
  src/components/theme-toggle.tsx
  src/components/ui/button.tsx
  src/components/web-faq.tsx
  src/hooks/use-theme-change.ts
  src/utils/site.ts
  tests/e2e/aura.spec.ts
Due: format, lint

chore: release v1.1.0
  package-lock.json
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
Due: format

fix: WebKitGTK drop no longer navigates, A/B chips centred on their boundaries, README captures without the full-page stitch
  assets/screenshot-dark.png
  assets/screenshot-light.png
  docs/audio-engine.md
  docs/decisions.md
  docs/testing.md
  public/og.png
  scripts/screenshots.ts
  src/components/audio-waveform.tsx
  src/hooks/use-file-drop.test.ts
  src/hooks/use-file-drop.ts
Due: format, lint

chore: release v1.1.1
  package-lock.json
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
Due: format

Path conditions:
  format: any of: *.{js,ts,jsx,tsx,json,css,md}
  lint: any of: *.{js,ts,jsx,tsx}
